<div class="container">
  <h1><%= @monster.name%></h1>
  <p>Find me in app/views/monsters/edit.html.erb</p>
  <%= simple_form_for @monster do |f| %>
  <%= f.input :name %>
  <%= f.input :price %>
  <%= f.input :description, label: "Describe Your Monster" %>
  <%= link_to 'Cancel', root_path, class: 'text-danger mr-2' %>
  <%= f.submit "Confirm", class: 'btn btn-success' %>
  <% end %>
</div>
