 <% if booking.monster.photo.attached? %>
   <div class="booking-card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('#')">
    <div class="row" style="text-align: center; margin: 10px 5px">
      <div class="col">
       <h6>
         <%= link_to booking.monster.name, monster_path(booking.monster), class: 'text-white booking-card-name' %>
       </h6>
       <p>Your booking details:</p>
       <p> From: <%= booking.start_date %></p>
       <p> To: <%= booking.end_date %></p>
       <p> Total: <%= booking.total_price %> $</p>

       <% if @future_bookings.include?(booking)  %>
        <p>hello</p>
       <% elsif @completed_bookings.include?(booking) && booking.review.nil? %>

       <p><%= link_to 'Leave a review', new_booking_review_path(booking.monster), class: 'text-white booking-card-name' %></p>
       <% else %>
       <p> Your rating: <%=booking.review.rating%></p>
       <p><%= link_to "Read your review", "#" %></p>
        <% end %>

     </div>
    </div>
  </div>


<% else %>
    <div class="booking-card"
    style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('#')">
    <div class="row" style="text-align: center; margin: 10px 5px">
      <div class="col">
       <h6>
         <%= link_to booking.monster.name, monster_path(booking.monster), class: 'text-white booking-card-name' %>
       </h6>
       <p>Your booking details:</p>
       <p> From: <%= booking.start_date %></p>
       <p> To: <%= booking.end_date %></p>
       <p> Total: <%= booking.total_price %> $</p>

       <% if @future_bookings.include?(booking)  %>
        <p>hello</p>
       <% elsif @completed_bookings.include?(booking) && booking.review.nil? %>
       <p><%= link_to 'Leave a review', '#', class: 'text-white booking-card-name' %></p>
       <% else %>
       <p> Your rating: <%=booking.review.rating%></p>
       <p><%= link_to "Read your review", "#" %></p>
        <% end %>


     </div>
    </div>
  </div>
<% end %>
