<div class="container d-flex justify-content-center align-items-center h-50">
  <div class="row w-40">
    <div class="col">
      <%= simple_form_for [@monster, @booking] do |f| %>
      <%= f.input :start_date, as: :date, input_html: { class: 'datepicker' }, html5: true, start_day: Date.today.day %>
      <%= f.input :end_date, as: :date, input_html: { class: 'datepicker' }, html5: true, start_day: Date.today.day %>
      <%= f.submit "Confirm booking", class: "btn btn-success" %>
      <%= link_to "Back to monsters", monsters_path, class: "btn btn-warning" %>
    </div>
  </div>
</div>
<% end %>
