<div class="container-fluid dashboard-container py-5">

  <div class="row">

   <div class="col-md-2">
    <div class="card p-2">
      <div class="dashboard-infos">
        <div class="col">
          <%= link_to "Monsters", dashboard_path(:anchor => "my-monsters"), class: "button-dashboard" %>
        </div>
        <div class="col">
          <%= link_to "Past Bookings", dashboard_path(:anchor => "past-bookings"), class: "button-dashboard"%>
        </div>
        <div class="col">
          <%= link_to "Upcoming Bookings", dashboard_path(:anchor => "upcoming-bookings"), class: "button-dashboard"%>
        </div>
        <div class="col">
          <%= link_to "Reviews", dashboard_path(:anchor => "#") ,class: "button-dashboard"%>
        </div>
      </div>
    </div>
   </div>

 <div class="col-md-5">
  <div class="card p-4">
    <h1>Your Monsters</h1>
    <div class="row">
     <% @monsters.each do |monster| %>
       <div class="col-12 p-2">
        <%= render 'monsters/card', monster: monster %>
      </div>
     <% end %>
    </div>
  </div>
 </div>

 <div class="col-md-5">
<div class="card p-4 ">
    <h1> Completed bookings</h1>
    <div class="row p-2" style="margin: 0px">
      <% @future_bookings.each do |booking| %>
        <div class="col-12">
          <%= render 'bookings/card', booking: booking %>
        </div>
      <% end %>
    </div>
  </div>

<div class="card p-4">
    <h1> Future bookings</h1>
    <div class="row p-2" style="margin: 0px">
      <% @future_bookings.each do |booking| %>
        <div class="col-12">
          <%= render 'bookings/card', booking: booking %>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>





