<div class="container">
  <h1>Your review</h1>
  <%= simple_form_for @review do |f| %>
  <%= f.input :rating %>
  <%= f.input :content, label: "how is your monster?"%>
  <%= link_to 'Cancel', root_path, class: 'text-danger mr-2' %>
  <%= f.submit "Confirm", class: 'btn btn-success' %>
  <% end %>
</div>
